main {
	margin-top: 60px;
	margin-bottom: 40px;
}
.editorial_by {
	font-size: .9em;
	float: left;
	color: #88888F;
	text-decoration: none;
}
a.editorial_by span {
	color: #000;
	transition: color .3s ease-in-out;
	font-weight: bold;
}
a.editorial_by:hover > span {
	color: #F56A6A;
}
.social_links {
	float: right;
}
.social_links i {
	color: #7F888F;
	font-size: 1em;
	margin-left: 15px;
	transition: all .3s ease;
}
.social_links i:hover {
	color: #F56A6A;
}
.top_links {
	margin-top: 130px;
	padding-bottom: 35px;
}
.description {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin-bottom: 50px;
}
.descr_text {
	padding-right: 30px;
}
.descr_text h5,
.descr_text p {
	color: #7F888F;
}
.descr_text h1 {
	margin: 0;
	font-size: 3em;
	font-weight: bold;
}
.descr_text h5 {
	font-size: 13px;
	letter-spacing: 1.2;
	text-transform: uppercase;
	font-weight: 400;	
}
.descr_text p {
	font-size: .8em;
	line-height: 1.7;
	margin-bottom: 35px;
}
.descr_text,
.descr_img {
	flex-basis: 50%;
	width: 100%;
}
.descr_img {
	width: 100%;
}
.descr_img .img_wrap img {
	width: 100%;
}
